---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Acerca de Jimmy">
  <section class="prose mx-auto py-10 px-4">
    <h2>Sobre mí</h2>
    <p>
      Soy un profesional curioso, empático y apasionado por el impacto que la tecnología puede tener en la vida de las personas.
      Me encanta aprender sobre psicología, filosofía e historia y aplicar ese conocimiento para liderar, colaborar y construir soluciones con propósito.
    </p>
    <p>
      Actualmente formo parte del equipo de Microsoft y también lidero iniciativas de empoderamiento femenino en tecnología como parte de la ONG Ideas en Acción y Women at Microsoft.
    </p>
  </section>
</Layout>